
<footer class="grid-footer">
    <div class="part-1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, id sunt dicta magni dolor culpa accusantium labore distinctio dolores, nostrum adipisci ipsum similique provident earum eaque accusamus dolorum voluptas illo enim laborum, blanditiis rem minus. Repudiandae necessitatibus dolore nulla sequi quam corporis. Alias totam quia magnam in reiciendis illo aperiam quis maiores consequuntur sed quasi, cumque, exercitationem iusto amet quisquam et repudiandae vel. Vel deserunt delectus sit, culpa at sint?
    </div>
    <div class="part-2">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure fugit sunt porro in, error dolorum reiciendis sed, consectetur debitis nostrum voluptatum, culpa dolor saepe mollitia alias. Vel quo cupiditate esse?
    </div>
</footer>