<!DOCTYPE html>
<html lang="en">
<%- include('components/head.html')%>
<body>
    
    <%- include('components/nav.html')%>

    <div class="grid-logo">
        <div class="git-logo">
            <img src="img/git-logo.png">
        </div>
        <div>
            <a href="https://github.com/andressnava?tab=repositories" target="_blank">Click here for more info</a> 
            <p>
                <strong>Lorem.</strong>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit reprehenderit totam sunt molestias culpa atque dolorum corporis ea dolores eaque nulla at illo expedita, odio tenetur sapiente impedit enim dicta. Assumenda voluptas distinctio at in enim repellendus corrupti? Necessitatibus voluptates laborum expedita deleniti cumque hic doloremque quibusdam? Illum at temporibus excepturi possimus, sapiente doloribus unde beatae odit culpa asperiores officia!
            </p>
        </div>
    </div>

</body>
</html>